/* polices */

/* général */
header, footer 
{
	margin-top: 50px;
}
nav, section
{
	margin-top: 10px;
}
/* header */
/* menu */
.navbar
{
	font-size: 2em;
}
li
{
	margin-right: 10px;
}
.navbar-default .navbar-nav > li > a:hover 
{
	color: #f87d09;
	border-top: 1px solid #f87d09;
}
/* carousel */
.carousel .item {
      height: 500px; /* hateur du carousel */
    }
 .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }
/* footer */
footer
{
	border-top: 1px solid black;
	background-color: #363839;
	color: #FFFFFF;
	text-align: center;
}
footer p
{
	color: #8c8989;
}
/*index */

#service_taxi, #service_navette, #service_livraison /* services */
{
	margin-top: 50px;
	text-align: center;
}
#service_taxi a, #service_navette a, #service_livraison a
{
	color: black;
}
#service_taxi a:hover, #service_navette a:hover, #service_livraison a:hover
{
	color: blue;
	font-style: italic;
	
}
#services h2, #contact h2, #joint_us h2
{
	border-bottom: 1px solid #f87d09;
	color: #f87d09;
	padding-left: 10px;
}
#contact p, #joint_us p
{
	margin-top: 30px;
}
/*service taxi */
h1 
{
	text-align: center;
	font-size: 3em;
}
#img_service_taxi img
{
	margin-top: 10px;
	text-align: center;
}
#img_service_taxi
{
	text-align: center;
}