/* polices */

/* mise en place générale */
header, footer 
{
	margin-top: 50px;
}
nav, section
{
	margin-top: 10px;
}
/* header */
/* menu */
.navbar
{
	border: none;
	background-color: #FFFFFF;
	font-size: 2em;
}
#navbar
{
	
}
/* slider */
/* footer */
footer
{
	border-top: 1px solid black;
	background-color: #004a55;
	color: #FFFFFF;
}
/*index */

#service_taxi, #service_navette, #service_livraison /* services */
{
	margin-top: 50px;
	text-align: center;
}
section h2
{
	border-bottom: 1px solid #f87d09;
	color: #f87d09;
	padding-left: 10px;
}
#contact p, #joint_us p
{
	margin-top: 30px;
}